#logo { 
  display: inline-block;
  color: white;
  font-size: 7em;
  font-style: bold;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

#logo-wrapper { 
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  grid-row-start: 1;
  transform: translateY(20%);
}

#container {
  display: grid;
  grid-template-columns: [first] 25% [second] 7% auto [third] 7% [last] 25%;
  grid-template-rows: [first] 35% [second] 10% [third] 10% [last] auto; 
  width: 100vw;
  height: 100vh;
  background-color: #747a76;
}

#search-wrapper { 
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  text-align: center;
}

#search { 
  display: inline-block;
  width: 43em;
  height: 3em;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FfFfF4;
}

#search:hover { 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#search-input {
  width: 30em;
  height: 2em;
  display: inline-block;
  top: 50%;
  transform: translateY(10%);
  border: 0px solid #ffffff;
  border-radius: 15px;
  background-color: #FfFfF4;
}

#search-input:focus {
  outline-width: 0px;
}

#search-input[type=text] {
  color:#747a76;
  font-size: 20px;
}

::placeholder { 
  font-style: italic;
  font-size: 20px;
  color: #747a76;
}

#search-enter { 
  border: none;
  background-color: transparent;
  width: 4em;
  height: 3em;
  transform: translateY(10%);
  color: #747a76;
}

#search-enter:focus { 
  outline-width: 0px;
}

#favourite { 
  background-color: #FfFfF4;
  text-align: center;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#favourite-button {
  background-color: transparent;
  transform: translateY(10%);
  border: 0;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

#favourites-inner {
  display: inline-block;
  margin: 3%;
}

#favourites-wrapper { 
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
}